<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static\images\favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainSection.css') }}">
    <link rel="stylesheet" href="..\static\styles\index.css"/>
    <link rel="stylesheet" href="..\static\styles\write.css"/>
    <script defer src="..\static\js\index.js"></script>
    <script src="https://kit.fontawesome.com/1bf0af30eb.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>유기농 코더 커뮤니티</title>
</head>

<body>
<!-- header -->
{% include "components/header.html" %}

<!-- content -->
{#<div id="body_wrap">#}
{#    <div id="body_content">#}
{##}
{##}
{#        <div>#}
            <section id="mainSection">
{#                {% if component_name == 'groups' %}#}
{#                    {% include "components/groups.html" %}#}
                {% if component_name == 'mainBoard' %}
                    {% include "components/mainBoard.html" %}
                    <!-- footer -->
                    {% include "components/footer.html" %}
                {% elif component_name == 'category1' %}
                    {% include "components/category1.html" %}
                {% elif component_name == 'category2' %}
                    {% include "components/category2.html" %}
                {% elif component_name == 'category3' %}
                    {% include "components/category3.html" %}
                {% elif component_name == 'category4' %}
                    {% include "components/category4.html" %}
                {% elif component_name == 'postView' %}
                    {% include "components/boardView.html" %}
                {% elif component_name == 'boardWrite' %}
                    {% include "components/write.html" %}
                {% elif component_name == 'boardModify' %}
                    {% include "components/board_modify.html" %}
                {% elif component_name == 'signup' %}
                    {% include "components/signup.html" %}
                {% elif component_name == 'login' %}
                    {% include "components/login.html" %}
                {% elif component_name == 'search' %}
                    {% include "components/search.html" %}
                {% endif %}
            </section>
{#        </div>#}
{##}
{##}
{#    </div>#}
{##}
{#</div>#}



</body>

</html>