<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- jquery 연결 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="16x16" href="..\static\index-static\images\favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- index -->
  <link rel="stylesheet" href="..\static\index-static\styles\index.css" />
  <script defer src="..\static\index-static\js\index.js"></script>

  <!-- mypage -->
  <link rel="stylesheet" href="..\static\mypage-static\styles\mypage.css" />
  <script defer src="..\static\mypage-static\js\mypage.js"></script>

  <script src="https://kit.fontawesome.com/1bf0af30eb.js" crossorigin="anonymous"></script>

  <title>유기농 코더 커뮤니티</title>
</head>

<body>
  <nav class="navbar">
    <div class="navbar_logo">
      <i class="fa-solid fa-seedling"></i>
      <a href="">유기농 코더 커뮤니티</a>


    </div>

    <ul class="navbar_menu">
      <li><a href="/">Home</a></li>
      <li><a href="">게시판</a></li>
      <li><a href="">공지사항</a></li>
      <li><a href="/mypage">마이 페이지</a></li>
    </ul>


    <div class="navbar_button">
      <button>로그인</button>
      <button>회원가입</button>
    </div>

  </nav>
  <div id="body_wrap">
    <div id="body_content">
      <div class="title">
        My Page
      </div>
      <div class="user_id">
        아이디 <input class="test" id="login_id" type="text" value="">
      </div>

      <div class="password">
        비밀번호 <input id="pwd" type="text" value="">
      </div>

      <div class="email">
        이메일 <input id="user_email" type="text" value="">
      </div>

      <div class="name">
        실명 <input id="user_name" type="text" value="">
      </div>

      <div class="nickname">
        닉네임 <input id="user_nick" type="text" value="">
      </div>

      <div class="account_btn">

        <div class="correct_btn">
          <button class="correct">수정</button>
        </div>
        <div class="cancle_btn">
          <button class="cancle" onclick="location.href='/'">취소</button>
        </div>
        <div class="delete_btn">
          <button class="delete">계정삭제</button>

        </div>


      </div>


    </div>

  </div>


  <footer class="footer">

    <ul class="coder_name">
      <li>만든이:</l>
      <li>김태연</li>
      <li>김기민</li>
      <li>김재원</li>
      <li>김희서</li>
      <li>유희선</li>
    </ul>

  </footer>
</body>

</html>