    /*a {*/
    /*    color: azure;*/
    /*    text-decoration: none;*/
    /*}*/
    body {
        background-color: floralwhite;
    }

    #category-board {
        width: 95%;
        margin: 50px auto 50px auto;
    }
    #category-board table a {
        color: black;
    }
    #category-board table a:hover, #category-board li:hover {
        color: #0090f9
    }
    #category-board .b-example-divider {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
        /*{#background-color: rgba(0, 0, 0, .1);#}*/
        /*{#border: solid rgba(0, 0, 0, .15);#}*/
        /*{#border-width: 1px 0;#}*/
        /*{#box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);#}*/
    }

    #category-board .pagination {
        /*background-color: #6c7ae0;*/
        /*{#margin-bottom: 100px;#}*/
        margin-top: 30px;
    }