
body {
    background-color: floralwhite;
}

.board_wrap{
    width: 800px;
    margin: auto;
}


.board_write {
    border-top: 2px solid darkslategray;
}

.board_write .title,
.board_write .info {
    padding: 15px;
    font-size: 0.5rem;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid darkslategray;
    font-size: 0;
}


.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}


.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100PX);
}

.board_write .title input,
.board_write .info input {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 100%;
}

.board_write .cont {
    border-bottom: 1px solid darkslategray;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: none;
}

/* .info .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
} */

/* .info dt {
    display: inline-block; */
/* margin: 10px 20px 10px 0px; */
/* color: darkslategray; */
/* vertical-align: middle; */
/* background-color: #dddddd;
cursor: pointer;
height: 40px;
margin-right: 10px;
}  */

/* .info input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
} */


.board_write_wrap button {
    background-color: darkslategray;
    border-radius: 6px;
    width: 50px;
    height: 30px;
}

.board_write_wrap button a {
    text-decoration: none;
    color: floralwhite;

}

.board_write_wrap .bt_wrap {
    margin: 10px;
}

.board_write_wrap .post {
    background-color: darkslategray;
    border-radius: 6px;
    width: 50px;
    height: 30px;
    color: floralwhite;
}

.board_write_wrap .close {
    background-color: darkslategray;
    border-radius: 6px;
    width: 50px;
    height: 30px;
    color: floralwhite;
}